body{
    background-color: green;
    color: white;
}

h1{

    text-align: center;

}
h2{
    display: none;
    text-align: center;
}
h3{
    display: none;
    text-align: center;
}

h4{
    display: none;
    text-align: center;
}
@media(max-width:200px){
    body{
        background-color: purple;
    }
    h4{
        display: block;
        
    }
}
@media(min-width:201px) and (max-width:500px){
    body{
        background-color: brown;
    }
    h3{
        display: block;
    }

}

@media(min-width:500px){

    h2{
        display: block;
    }
}




@media(min-width:1001px) and (max-width:1500px){
    body{
        background-color: purple;
    }
}
@media(min-width:1501px) and (max-width:2000px){
    body{
        background-color: brown;
    }
}
@media(min-width:2501px) and (max-width:3000px){
    body{
        background-color: purple;
    }
}
