

.container{
    width: 50%;
    height: 275px;
    border: 1px solid black;
    display: flex;
}


.left-box{
    width: 25%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0 0, 69% 0, 39% 100%, 0% 100%);
    border: 2px solid rgb(209, 10, 10);
}

.right-box{
    width: 75%;
    height: 100%;
}
