body{
    background-color: black;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: rgb(218, 165, 32);
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.sub{
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to top left, white 80%,black 50%); */
    
}
.part1{
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* background: linear-gradient(to top left, white 60%,black 50%); */
    clip-path: polygon(0 0, 69% 0, 40% 100%, 0% 100%);
}
.part2{
    width: 70%;
    height: 100%;
    background-color: white;

    
    
}
.image{
    width: 80%;
    height: 80%;
    /* background-color: white; */
}
.image>img{
    width: 80%;
    height: 80%;
}