.box{
    width: 200px;
    height: 150px;
    background-color: blue;
    color: white;

}
.right{
    margin-left: auto;

}
.centre{
    margin-left: auto;
    margin-right: auto;
}
.left{
    margin-right: auto;
}